<%= form_for @book do |f| %>
    
  <%= f.label :タグ %>
  <div class="check_box">
  <span>タグ</span>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
   <div>
     <%= tag.label do %>
       <%= tag.check_box %>
       <%= tag.text %>
     <% end %>
   </div>
  <% end %>
  </div>  
  
    <p><%= f.label :タイトル %></p>
    <p><%= f.text_field :book_name, :size => 200 %></p>
  

    <p><%= f.label :作家 %></p>
    <p><%= f.text_field :author_name, :size => 200 %> </p>
   

    <p><%= f.label :値段 %></p>
    <p> <%= f.text_field :price, :size => 200 %> </p>
  

    <p><%= f.label :あらすじ %></p>
    <p> <%= f.text_field :body, :size =>200 %> </p>
    <p><%= f.submit "編集する" %></p>

  <% end %>
  <p class="text2"><%= link_to "削除する", "/books/#{@book.id}", method: :delete %></p>
  <%= link_to " 本一覧に戻る", books_path %>